:root {
  font-family: 'Helvetica', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the font face only when it's loaded */
* {
  font-family: 'Helvetica', sans-serif;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/HelveticaLTStd-Blk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica XBold';
  src: url('/fonts/HelveticaLTStd-Blk.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Porcelain';
  src: url('/fonts/PORCELAI.TTF') format('TrueType');
  font-weight: 700;
  font-style: normal;
}

.nav{
  width: 100%;
  margin-bottom: 12%;
  align-items: start;
  align-content: start;
  text-align: start;
  display:flex;
  width: 100%;
  justify-content: space-between;
  a, button{
    margin: 0;
    font-weight: bold;
    color: black;
  }

  button{
    background-color: transparent;
    border: none;
  }
}

